* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
}

.logo-container {
    height: 30px;
    width: 30px;
}

.logo {
    height: 100%;
}

.homepage {
    height: 90vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.card {
    width: max-content;
    height: 550px;
    position: relative;
}

.image {
    height: 100%;
    border-radius: 20px;
}

.save-container {
    height: 50px;
    width: 80px;
    position: absolute;
    bottom: 2%;
    right: 4%;
    background-color: #AD0A1B;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-480px);
    transition: transform 1s ease-in;
}

.save {
    color: white;
    font-weight: 600;
}

.link-container {
    height: 7%;
    width: 60%;
    position: absolute;
    top: 2%;
    left: 4%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    transform: translateY(480px);
    transition: transform 1s ease-in;
}

.link-container > span {
    margin-right: 5px;
}

.button2-container {
    height: 7%;
    width: 11%;
    position: absolute;
    top: 2%;
    right: 4%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    transform: translateY(480px);
    transition: transform 1s ease-in;
}

.button1-container {
    height: 7%;
    width: 11%;
    position: absolute;
    top: 2%;
    right: 18%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    transform: translateY(480px);
    transition: transform 1s ease-in;
}

.show-when-hover {
    pointer-events:none;
    visibility: hidden;
}

.image:hover + .show-when-hover {
    pointer-events:none;
    visibility: visible;
    transition: transform 1s ease-in;
}